.grid-container {
  width: 100%;
  max-width: 1200px;
  min-width: 680px;
  margin: auto;
  padding: 20px;
  box-sizing: border-box;
}

.grid-header,
.grid-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding: 10px 10px;
  border-bottom: 1px solid #ccc;
}

.grid-header {
  font-weight: bold;
  background-color: #620055;
  color: #fff;
  font-size: 1.5rem;
}

.grid-row:hover {
  background-color: #f9f9f9;
}