.site-footer {
  background-color: #bd67c7;
  padding: 20px;
  text-align: center;
  font-size: 0.9rem;
  color: #333;
  border-top: 3px solid #620055;
  font-family: "Georgia", serif;
  min-width: 640px;
}

.footer-links {
  margin: 10px 0;
}

.footer-links a {
  margin: 0 10px;
  color: #620055;
  text-decoration: none;
  font-size: 1.5rem;
}

.footer-links a:hover {
  text-decoration: underline;
}

.footer-note {
  margin-top: 10px;
  font-style: italic;
  color: #fff;
}