/* Global Styles */
html, body {
  color: #222;
  background-color: #fdfdfd;
  margin: 0;
  padding: 0;
  width: 100vw;
  min-width: 100%;
}

.main-content {
  width: 100%;
  min-width: 675px;
  padding: 0;
  margin: 0;
}

/* Featured Article */
.featured-article {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin: 40px auto;
  max-width: 1000px;
  height: 300px;
}

.featured-image {
  width: auto;
  height: 100%;
  border-radius: 4px;
  object-fit: cover;
}

.featured-text {
  height: 100%;
  width: 50%;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
}

.featured-title {
  font-size: 2rem;
  margin: 0;
}

.featured-summary {
  font-size: 1.1rem;
  color: #555;
  line-height: 1.6;
  margin: 0;
}

.read-more {
  background-color: #bd67c7;
  color: white;
  padding: 10px 18px;
  text-decoration: none;
  border-radius: 4px;
  font-weight: bold;
}

.read-more:hover {
  background-color: #620055;
}


/* Article Grid */
.article-grid {
  margin: 40px auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 20px;
  padding: 20px;
  max-width: 1000px;
}

.article-card {
  display: flex;
  flex-direction: row;
  gap: 10px;
  background-color: inherit;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  transition: transform 0.2s ease;
  height: 200px;
  min-width: 300px;
}

.article-card:hover {
  transform: scale(1.02);
}

.article-card img {
  height: 100%;
  width: auto;
  display: block;
}

.article-card-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.article-card h2 {
  font-size: 2rem;
  margin: 0;
}

.article-card p {
  font-size: 1rem;
  margin: 0;
  color: #555;
}